@use "main" with (
	$page-color: #000,
	$page-background: #fff,
	$page-border-color: #000,
	$page-hover-background: #ddd,

	$page-accent-background: #ffd191,
	$page-accent-color: #000,
	$page-accent-active-background: #3007b6,
	$page-accent-active-color: #fff,
	$page-accent-hover-background: #cca050,
	$page-accent-hover-color: #000,

	$page-dim-background: #ccc,
	$page-dim-color: #000,

	$nav-logo-font: zyborgs
);

@font-face {
	font-family: zyborgs;
	src: url('//vlvt.in/static/logo.ttf');
}