$content-width: 1200px !default;
$content-padding: 1rem !default;

ui-content {
	display: block;
	padding: $content-padding;
	max-width: $content-width;
	margin: 0 auto;

	&[ui-fill] {
		max-width: none;
	}
}

ui-detail > ui-content {
	overflow: auto;
	height: calc(100% - #{$content-padding * 2});
}