[ui-nav-detail],
ui-nav-detail {
	display: grid;
	grid-template-areas: 'header' 'detail';
    grid-template-rows: #{$nav-padding-y * 2 + 1rem * $line-height} calc(100% - #{$nav-padding-y * 2 + 1rem * $line-height});
	grid-template-columns: 100%;
	height: 100%;

    > ui-nav {
		grid-area: header;
	}

	> ui-detail {
		grid-area: detail;
	}
}
	
ui-root[ui-nav-detail] {
	height: 100vh;
}