$card-padding: 1.5rem !default;
$card-border-width: $border-width !default;
$card-border-color: $border-color !default;
$card-title-margin: 0.15em !default;
$card-tagline-size: 0.8em !default;
$card-bottom-margin: 1.5rem !default;

ui-card {
	display: block;
	border: $card-border-width solid var(--state-border, #{$card-border-color});
	margin-bottom: $card-bottom-margin;

	ui-card-body {
		display: block;
		padding: $card-padding;

		ui-card-title {
			display: block;
			margin-bottom: $card-title-margin;
			font-weight: bold;
		}
	
		ui-card-tagline {
			display: block;
			font-size: $card-tagline-size;
		}

		> :last-child {
			margin-bottom: 0;
		}
	}

	> ui-list {
		margin: -$card-border-width;
	}
}