$table-padding: 0.25rem !default;
$table-border: $border !default;
$table-header-color: $border-color !default;

ui-table {
	display: table;
	width: 100%;
	text-align: left;
	border-collapse: collapse;

	ui-row,
	ui-header-row {
		display: table-row;

		ui-cell,
		ui-header-cell {
			display: table-cell;
			padding: $table-padding;
			border: $table-border;
		}
	}

	ui-header-row {
		background: $table-header-color;
	}

	ui-header-row,
	ui-header-cell {
		font-weight: bold;
	}
}