$off-bounds: -1000vmax !default;

html {
	scroll-behavior: smooth;
	text-size-adjust: 100%;
}

body {
	margin: 0;
	padding: 0;

	color: $page-color;
	background: $page-background;
}

ui-root {
	display: block;
}

ui-block, [ui-block], [ui-display="block"] {
	display: block;
}

ui-inline, [ui-inline], [ui-display="inline"] {
	display: inline;
}

[ui-right] {
	float: right;
}

[ui-left] {
	float: left;
}

[ui-text-left],
[ui-text-align="left"] {
	text-align: left;
}

[ui-text-right],
[ui-text-align="right"] {
	text-align: right;
}

[ui-text-center],
[ui-text-align="center"] {
	text-align: center;
}

@mixin is-active {
	&[ui-active]:not([ui-active="false"]) {
		@content
	}
};