$grid-spacing-sizes: (
	xxs: 0.0625em,
	xs: 0.125em,
	s: 0.25em,
	m: 0.5em,
	l: 0.75em,
	xl: 1em,
	xxl: 2em
) !default;

$grid-default-spacing: 0.5em;

@mixin cols($spacing) {
	@for $size from 1 to 12 {
		ui-col-#{$size},
		ui-col[ui-col-size="#{$size}"] {
			margin: 0 #{$spacing};
			width: calc(100% / 12 * #{$size} - #{$spacing * 2});
		}
	}

	ui-col-auto,
	ui-col[ui-col-size="auto"] {
		margin: 0 #{$spacing};
		flex-grow: 1;
	}
}

ui-row {
	display: flex;
	flex-wrap: wrap;

	@include cols(0em);

	&[ui-spacing] {
		margin: 0 #{-$grid-default-spacing};

		@include cols($grid-default-spacing);
	}

	@each $size, $spacing in $grid-spacing-sizes {
		&[ui-spacing-#{$size}],
		&[ui-spacing="#{$size}"] {
			margin: 0 #{-$spacing};

			@include cols($spacing);
		}
	}

	&[ui-row-horizontal] {
		flex-direction: row;
	}

	&[ui-row-vertical] {
		flex-direction: column;
	}
}