$grid-sizes: (
	"close": 0,
	"slim": 0.25em,
	"padded": 0.5em
) !default;

ui-row {
	display: flex;
	flex-wrap: wrap;

	@each $size, $margin in $grid-sizes {
		&[ui-row-#{$size}],
		&[ui-row="#{$size}"] {
			padding: 0 #{-$margin};
		}
	}

	&[ui-row-horizontal] {
		flex-direction: row;
	}

	&[ui-row-vertical] {
		flex-direction: column;
	}

	ui-col-auto,
	ui-col[ui-col-size="auto"] {
		flex-grow: 1;
	}

	@for $size from 1 to 12 {
		ui-col-#{$size},
		ui-col[ui-col-size="#{$size}"] {
			width: calc(100% / 12 * #{$size});
		}
	}

	@each $size, $margin in $grid-sizes {
		[ui-row-#{$size}],
		[ui-row="#{$size}"] {
			@for $size from 1 to 12 {
				margin: 0 $margin;
			}
		}
	}
}