$grid-padding-sizes: (
	0: 0,
	1: 0.25em,
	2: 0.5em,
	3: 0.75em,
	4: 1em
) !default;

ui-row {
	display: flex;
	flex-wrap: wrap;

	@each $size, $margin in $grid-padding-sizes {
		&[ui-spacing-#{$size}],
		&[ui-spacing="#{$size}"] {
			margin: 0 #{-$margin};

			@for $size from 1 to 12 {
				ui-col-#{$size},
				ui-col[ui-col-size="#{$size}"] {
					margin: 0 $margin;
				}
			}
		}
	}

	&[ui-row-horizontal] {
		flex-direction: row;
	}

	&[ui-row-vertical] {
		flex-direction: column;
	}

	ui-col-auto,
	ui-col[ui-col-size="auto"] {
		flex-grow: 1;
	}

	@for $size from 1 to 12 {
		ui-col-#{$size},
		ui-col[ui-col-size="#{$size}"] {
			box-sizing: border-box;
			width: calc(100% / 12 * #{$size});
		}
	}
}