$page-color: #000 !default;
$page-background: #fff !default;
$page-border-color: #000 !default;

$page-hover-background: #ddd !default;

$page-accent-background: #07f !default;
$page-accent-color: #fff !default;
$page-accent-active-background: #04c !default;
$page-accent-active-color: #fff !default;
$page-accent-hover-background: #04d !default;
$page-accent-hover-color: #fff !default;

$page-dim-background: #ccc !default;
$page-dim-color: #000 !default;